<div class="settings">
  <form class="form-horizontal">
    <div class="settings-group">
      <label class="settings-label">Feedrate</label>
      <div class="settings-controls">
        <div class="input-append">
          <input type="number" step="100.0"
                               class="input-mini text-right"
                               data-bind="value: feedrate, enable: movementEnabled()"
                               placeholder="7500">
          <span class="add-on">mm/min</span>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="buttonGrid">
  <div class="buttonRow">
    <button id="touch1" class="btn"
                        data-bind="click: function() {testPrint(0.0, 1.0)}, enable: movementEnabled()"/>
      <button id="touch2" class="btn icon-arrow-up"
                          data-bind="click: function() {testPrint(0.5, 1.0)}, enable: movementEnabled()"/>
        <button id="touch3" class="btn"
                            data-bind="click: function() {testPrint(1.0, 1.0)}, enable: movementEnabled()"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="touch4" class="btn icon-arrow-left"
                        data-bind="click: function() {testPrint(0.0, 0.5)}, enable: movementEnabled()"/>
      <button id="touch5" class="btn icon-home"
                          data-bind="click: function() {testPrint(0.5, 0.5)}, enable: movementEnabled()"/>
        <button id="touch6" class="btn icon-arrow-right"
                            data-bind="click: function() {testPrint(1.0, 0.5)}, enable: movementEnabled()"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="touch7" class="btn"
                        data-bind="click: function() {testPrint(0.0, 0.0)}, enable: movementEnabled()"/>
      <button id="touch8" class="btn icon-arrow-down"
                          data-bind="click: function() {testPrint(0.5, 0.0)}, enable: movementEnabled()"/>
        <button id="touch9" class="btn"
                            data-bind="click: function() {testPrint(1.0, 0.0)}, enable: movementEnabled()"/>
  </div>
</div>
