<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">{{ _('Bed Width') }}</label>
    <div class="controls input-append">
      <input type="number"
             class="input-block-level"
             data-bind="value: settings.plugins.touchtest.bedWidth">
      <span class="add-on">mm</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Bed Depth') }}</label>
    <div class="controls input-append">
      <input type="number"
             class="input-block-level"
             data-bind="value: settings.plugins.touchtest.bedDepth">
      <span class="add-on">mm</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Edge Offset') }}</label>
    <div class="controls input-append">
      <input type="number"
             class="input-block-level"
             data-bind="value: settings.plugins.touchtest.edgeOffset">
      <span class="add-on">mm</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Feedrate') }}</label>
    <div class="controls input-append">
      <input type="number"
             class="input-block-level"
             data-bind="value: settings.plugins.touchtest.feedrate">
      <span class="add-on">mm</span>
    </div>
  </div>
</form>
