<!--<div class="settings">-->
<!--<form class="form-horizontal">-->
<!--<div>-->
<!--<div class="settings-group">-->
<!--<label class="settings-label">Width (X)</label>-->
<!--<div class="settings-controls">-->
<!--<div class="input-append">-->
<!--<input type="number" step="0.01"-->
<!--class="input-mini text-right"-->
<!--data-bind="value: bedWidth" placeholder="200">-->
<!--<span class="add-on">mm</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="settings-group">-->
<!--<label class="settings-label">Depth (Y)</label>-->
<!--<div class="settings-controls">-->
<!--<div class="input-append">-->
<!--<input type="number" step="0.01"-->
<!--class="input-mini text-right"-->
<!--data-bind="value: bedDepth" placeholder="200">-->
<!--<span class="add-on">mm</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="settings-group">-->
<!--<label class="settings-label">Edge Offset</label>-->
<!--<div class="settings-controls">-->
<!--<div class="input-append">-->
<!--<input type="number" step="0.01"-->
<!--class="input-mini text-right"-->
<!--data-bind="value: edgeOffset" placeholder="15">-->
<!--<span class="add-on">mm</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="settings-group">-->
<!--<label class="settings-label">Feedrate</label>-->
<!--<div class="settings-controls">-->
<!--<div class="input-append">-->
<!--<input type="number" step="1.0"-->
<!--class="input-mini text-right"-->
<!--data-bind="value: feedrate" placeholder="7500">-->
<!--<span class="add-on">mm/sec</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->

<div class="settings">
  <form class="form-horizontal">
    <div class="settings-group">
      <label class="settings-label">Feedrate</label>
      <div class="settings-controls">
        <div class="input-append">
          <input type="number" step="100.0"
                               class="input-mini text-right"
                               data-bind="value: feedrate" placeholder="7500">
          <span class="add-on">mm/sec</span>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="buttonGrid">
  <div class="buttonRow">
    <button id="touch1" class="btn"
                        data-bind="click: function() {testPrint(0.0, 1.0)}"/>
      <button id="touch2" class="btn icon-arrow-up"
                          data-bind="click: function() {testPrint(0.5, 1.0)}"/>
        <button id="touch3" class="btn"
                            data-bind="click: function() {testPrint(1.0, 1.0)}"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="touch4" class="btn icon-arrow-left"
                        data-bind="click: function() {testPrint(0.0, 0.5)}"/>
      <button id="touch5" class="btn icon-home"
                          data-bind="click: function() {testPrint(0.5, 0.5)}"/>
        <button id="touch6" class="btn icon-arrow-right"
                            data-bind="click: function() {testPrint(1.0, 0.5)}"/>
  </div>
  <br>
  <div class="buttonRow">
    <button id="touch7" class="btn"
                        data-bind="click: function() {testPrint(0.0, 0.0)}"/>
      <button id="touch8" class="btn icon-arrow-down"
                          data-bind="click: function() {testPrint(0.5, 0.0)}"/>
        <button id="touch9" class="btn"
                            data-bind="click: function() {testPrint(1.0, 0.0)}"/>
  </div>
</div>
